/* font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.bgnavbar {
    background-image: linear-gradient(180deg, #e4d3f7, #c493fb);
}

.bg1 {
    background-image: linear-gradient(180deg, #c493fb, #b200b2);
}

.bg2 {
    background-image: linear-gradient(180deg, white,#b200b2);
}

.bg3 {
    background-image: linear-gradient(180deg,#b200b2, #75ffc6 );
}

.text1 {
    background-image: linear-gradient(180deg, #663cff, #b200b2 );
}

.testing{
    color: #9375ff;
}